# IDE 관련
.idea/
.vscode/
*.iml
*.ipr
*.iws
.project
.settings/
.classpath

# 빌드 출력
/build/
/out/
/bin/
*.class
*.jar
*.war
*.ear

# Gradle
.gradle/
gradle-app.setting
!gradle-wrapper.jar
!gradle-wrapper.properties

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
*.lock
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# iOS
**/ios/**/DerivedData/
**/ios/**/Icon?
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/profile
**/ios/**/xcuserdata
**/ios/.generated/
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/ephemeral/
**/ios/Flutter/flutter_assets/
**/ios/Flutter/flutter_export_environment.sh

# Android
/android/app/debug
/android/app/profile
/android/app/release
/android/gradle/wrapper/gradle-wrapper.jar
/android/.gradle
/android/captures/
/android/gradlew
/android/gradlew.bat
/android/local.properties
/android/key.properties
**/*.keystore
**/*.jks

# 환경 설정 파일
.env
.env.local
.env.*.local
assets/.env

# 기타
*.log
*.bak
*.tmp
*.temp
.DS_Store
Thumbs.db